@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

.asfgd{
	color: #FF0072;
	color: #644cad;
	color: #4426a8;

}

.App {
  text-align: left;
}

.full{
	width: 100%;
	padding: 0;
}

.forgot {
	width:14.5em;
	margin: 1em;
}

.payment {
	width: 30%;
	min-width: 300px;
	margin-top: 3em;
}

.checkout > * {
	margin: 1em;
}

.checkout > .StripeElement {
	padding: 0.5em;
	border-radius: 2px;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.center{
	text-align: center;
	align-items: center;
	display:block;
	margin-right: auto;
	margin-left: auto;
}

.pushLeft{
	margin-right:2rem;

}

.center-manager{
	display: block;
	text-align:center;
}

.inline{
	display: inline-block;
	margin-top: 0.5em;
	vertical-align: middle;
}

.admin-math{
	margin-top: 1em;
	margin-bottom: 1em;
	height: 1em;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
}

.modal-dialog{
	max-width: 600px;
}

.h1, div, body {
	font-family: 'Montserrat';
	
}

.space{
  width: 100%;
  max-height: 100%;
}

.Search-Bar:focus{
	border:none;
	background: rgba(0,0,0,0.02);
	border-radius:5px;
}

.bg-space{
	background-size: cover;
}

.bg-gradient1{
	background-image: linear-gradient(to bottom right,#113669, #250b41);

}

.bg-space-input{
	background-size: cover;
}
.bg-space-admin{
	background-size: cover;
}

/*SignIn Screen*/
.input {
	position: relative;
	z-index: 1;
	
	margin: 1em;
	max-width: 14.5em;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 0.8em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 0em 0em 0em 0em;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #5a058e;
	font-size: 150%;
}
.icon-c {
	color: #f9b213;
	font-size: 150%;
}

.icon-before {
	color: #a0a0a0;
	font-size: 100%;
}

.icon-s {
	color: #CBCBCB;
	font-size: 150%;
}

.input--makiko {
	overflow: hidden;
	background: #CBCBCB;
}

.input__field--makiko {
	width: 100%;
	background: transparent;
	color: #797693;
	z-index: 10;
	font-weight: 500;
}

.input__label--makiko {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
	color: #fff;
}

.input__label--makiko::before {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	top: 45%;
	left: 20px;
	background-size: 100%;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7,0,0.3,1);
	transition: transform 0.4s cubic-bezier(0.7,0,0.3,1);
}

.input__label-content--makiko {
	display: block;
	padding: 1.5em 0 0 2.75em;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7,0,0.3,1);
	transition: transform 0.4s cubic-bezier(0.7,0,0.3,1);
}

.input__field--makiko:focus + .input__label--makiko::before,
.input--filled .input__label--makiko::before {
	-webkit-transform: scale3d(38, 38, 1);
	transform: scale3d(38, 38, 1);
}
.input--kohana {
	overflow: hidden;
  	background: rgba(0,0,0,0.08);
  	border-radius: 5px;
	padding: 0;
}


.input__field--kohana {
	width: 100%;
	
	padding-left: 2.75em;
	color: #5a058e;
}

.input__field--search {
	width: 100%;
	
	padding-left: 2.75em;
	color: #5a058e;
}

.input__label--kohana {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
	color: #777777;
}

.input__label-content--kohana {
	display: inline-block;
	width: auto;
	-webkit-transform: translate3d(-1.75em, 0, 0);
	transform: translate3d(-1.75em, 0, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.icon--kohana {
	display: inline-block;
  margin-top: 0.9em;
  padding-bottom:3px;
	-webkit-transform: translate3d(-2em, 0, 0);
	transform: translate3d(-2em, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__field--kohana:focus + .input__label--kohana .input__label-content--kohana,
.input--filled .input__label-content--kohana {
	opacity: 0;
	-webkit-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}

.input__label-content--kohana,
.icon--kohana,
.input__field--kohana:focus + .input__label--kohana .input__label-content--kohana,
.input--filled .input__label-content--kohana {
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--kohana:focus + .input__label--kohana .icon--kohana,
.input--filled  .icon--kohana {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input--search {
	overflow: hidden;
  background: rgba(0,0,0,0.08);
  border-radius: 5px;
  
}


.input__field--search {
	width: 100%;
	
	padding-left: 2.75em;
	color: #5a058e;
}



.input__label--search {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
	color: #777777;
}

.input__label-content--search {
	display: inline-block;
	width: auto;
	-webkit-transform: translate3d(-1.75em, 0, 0);
	transform: translate3d(-1.75em, 0, 0);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.icon--search {
	display: inline-block;
  margin-top: 0.9em;
  padding-bottom:3px;
	-webkit-transform: translate3d(-2em, 0, 0);
	transform: translate3d(-2em, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__field--search:focus + .input__label--search .input__label-content--search,
.input--filled .input__label-content--search {
	opacity: 0;
	-webkit-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);
}

.input__label-content--search,
.icon--search,
.input__field--search:focus + .input__label--search .input__label-content--search,
.input--filled .input__label-content--search {
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.input__field--search:focus + .input__label--search .icon--search,
.input--filled  .icon--search {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input--fumi {
	background: #fff;
	overflow: hidden;
	padding: 0.25em 0;
}

.input--fumi::after {
	content: '';
	width: 1px;
	position: absolute;
	top: 0.5em;
	bottom: 0.5em;
	left: 2.5em;
	background: #f0f0f0;
	z-index: 100;
}

.input__field--fumi {
	background: transparent;
	padding: 1.5em 1em 0.25em 3.15em;
	width: 100%;
	color: #5a058e;
}

.input__label--fumi {
	position: absolute;
	width: 100%;
	text-align: left;
	padding-left: 4.5em;
	pointer-events: none;
}

.checkbox-container {
	width: 90%;
	text-align: center;
	margin-bottom: 1em;
}

.icon--fumi {
	width: 2em;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em 0 0 0.5em;
}

.input__label-content--fumi {
	padding: 1.7em 0;
	display: inline-block;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.input__label-content--fumi span {
	display: inline-block;
}

.input__field--fumi:focus + .input__label--fumi .input__label-content--fumi,
.input--filled .input__label-content--fumi {
	-webkit-animation: anim-fumi-1 0.3s forwards;
	animation: anim-fumi-1 0.3s forwards;
}

@-webkit-keyframes anim-fumi-1 {
	50% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	51% {
		-webkit-transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
	}
	100% {
		color: #a3a3a3;
		-webkit-transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
	}
}

@keyframes anim-fumi-1 {
	50% {
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	51% {
		-webkit-transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -3em, 0) scale3d(0.85, 0.85, 1);
	}
	100% {
		color: #a3a3a3;
		-webkit-transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
		transform: translate3d(0, -1.1em, 0) scale3d(0.85, 0.85, 1);
	}
}


.input__field--fumi:focus + .input__label--fumi .icon--fumi,
.input--filled .icon--fumi {
	-webkit-animation: anim-fumi-2 0.3s forwards;
	animation: anim-fumi-2 0.3s forwards;
}

@-webkit-keyframes anim-fumi-2 {
	50% {
		opacity: 1;
		-webkit-transform: translate3d(0, -3em, 0);
		transform: translate3d(0, -3em, 0);
	}
	50.25% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3em, 0);
		transform: translate3d(0, -3em, 0);
	}
	50.75% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	51% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		color: #5a058e;
	}
}

@keyframes anim-fumi-2 {
	50% {
		opacity: 1;
		-webkit-transform: translate3d(0, -3em, 0);
		transform: translate3d(0, -3em, 0);
	}
	50.25% {
		opacity: 0;
		-webkit-transform: translate3d(0, -3em, 0);
		transform: translate3d(0, -3em, 0);
	}
	50.75% {
		opacity: 0;
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	51% {
		opacity: 1;
		-webkit-transform: translate3d(0, 3em, 0);
		transform: translate3d(0, 3em, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		color: #5a058e;
	}
}

/*

.input-container {
  display: -ms-flexbox;  IE10 
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.08);
  border: 0px;
  text-align:center;
  border-radius: 5px;
}

#input-container:hover + #icon {
  background: dodgerblue;
}

.icon {
  padding: 15px;
  background-color: #5a058e;
  color: white;
  min-width: 50px;
  text-align: center;
  border-radius: 5px 0px 0px 5px;
}

@keyframes underline {
  0%   {border-color:#5a058e; width:0%; border-width:1px;}
  
  100% {border-color:#5a058e; width:100%; border-width:1px;}
}


.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  background: none;
  
  border: 0px;
}

.input-field:focus {
  border-bottom: 1px solid #5a058e;
  animation-name: underline;
  animation-duration: 0.5s;
}*/

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 20vmin;
  padding-top: 30px;
  padding-bottom: 30px;
}

.App1 {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Aside {
  
}

.engsoc {
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 150px;
  padding-bottom: 150px;
}

.signin {
  font-weight: 550;
  
}
.form-control {
  font-family: 'Montserrat';
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.clock {
  
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.user {
  display: block;
  padding-top: 120px;
  margin-left: auto;
  margin-right: auto;
  
}

.App__Form {
  width: 50%;
  
  background-color: rgb(255, 255, 255);
  padding: 100px 250px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
 
}

.PageSwitcher__Item {
  background-color: #392546;
  color: #a27ebb;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: #5a058e;
  color: white;
}

.PageSwitcher__Item:first-child {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.PageSwitcher__Item:last-child {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.FormCenter {
	margin-bottom: 0px;
	max-width: 100%;
  text-align:center;
}

.FormTitle {
  color: #85639b;
  font-weight: 300;
  font-family: 'Nunito';
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: #85639b;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: #500b83;
  border-bottom: 1px solid #5a058e;
}

.FormField {
  text-align:center;
  margin-bottom: 20px;
  max-width:500px;
  margin:auto;
}

.topSpace{
	margin-top: 0.5em;
	padding-top: 0px;
	font-family: 'Montserrat';
}

.topSpaceL{
	margin-top: 2em;
	padding-top: 1em;
	font-family: 'Montserrat';
}

.white{
	color: white !important;
}

.AppTitle {
	margin-top: 1em;
	margin-bottom: 0.4em;
  font-family: 'Montserrat';
  text-align:center;
  font-size: 2em;
  font-weight: 600;
  color: #67198e;
}

.box{
	background-color: #500b83;

	text-align:center;
	width: 12rem;
	height: 12rem;
	border-radius: 5%;
}

.box:hover{
		box-shadow:
                1px 1px #53a7ea,
                2px 2px #53a7ea,
                3px 3px #53a7ea;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
}

.loginType{
	margin-bottom: 20px;
	font-family: 'Montserrat';
	text-align:center;
	font-size: 28pt;
  font-weight: 600;
  color: #67198e;
} 
.astro{
	padding-top:0.1em;
	color: #500b83;
}

.countdown {
  margin: 0px;
  font-family: 'Montserrat';
  text-align:center;
  font-size: 0.2em !important;
  font-weight: 200;
  padding: 0px;
  color: #6e6e6e;
  
}

.Countdown{
  margin: 10px auto;
  padding-bottom: 20px;
}

.Countdown-col{
  display: inline-block;
  color: #808080;
}

.Countdown-col-element{
  display: inline-block;
  color: #6e6e6e;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}

.Countdown-col-element strong{
  font-size: 2.7em;
}


.FormField__Label {
  display: block;
  text-transform: uppercase;
  font-weight: 550;
  font-size: .7em;
  color: #500b83;
}

.FormField__Input{
  width: 85%;
  background-color: rgba(0,0,0, 0.08);
  border: 0px;
  border-radius: 5px;
  color: #500b83;
  outline: none;
  padding: 12px 25px;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}
.red-border{
  border:1px solid red;
}

.SearchBar{
  max-width:10%;
}


.FormField__Input::placeholder {
  color: #85639b;
  font-weight:400;
}

.FormField__Button {
  text-transform: uppercase;
  text-align:center;
  font-family: 'Montserrat';
  background-color: #5a058e;
  color: white;
  border: none;
  outline: none;
  border-radius: 25px;
  padding: 15px 70px;
  font-size: 0.9em;
  font-weight: 600;
}

.FormField__Link {
  color: #85639b;
  text-decoration: none;
  display: inline-block;
	padding-bottom: 5px;
	font-size: 0.8em;
}

.FormField__Link:hover{
  color: #5a058e;
	font-weight: 450;
	border: none
}

.FormField__CheckboxLabel {
  color: #85639b;
  font-size: .9em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #67198e;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}


.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  height:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Nav-logo {
  max-height:200px;
  max-width:200px;
}

.Nav-text {
  color: #7b7c7e;
}

.Nav-text:hover {
  border-bottom: 0px; 
  color: #5a058e;
  font-weight: 450;
}

.circleContainerStyle {
  max-width: 50%;
  max-height: 50%;
  padding-top: 30px;
  padding-bottom: 20px;
  
}
.tableProgress {
  max-width: 50%;
  max-height: 50%;
  
  
}

.border {
  border-bottom: 3px solid #5a058e;
}
.nav-logo {
  max-width:200px;
}

.width100{
	width:100%;
}

.containerStyle {
  max-height:33%;
  max-width:33%;
  padding: 30px;

}

.success-message {
  background: lightgreen;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 0px;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
}

.error-message {
  background: lightcoral;
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 0px;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 20px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width:768px) {
	.h-md-100 { height: 100vh; }
}

.select-input{
	padding: 0.5em;
}

.dropbtn {
  background-color: #644cad;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	height: 0.5em;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #500b83;
}

.cards-list {
	z-index: 0;
	width: 100%;
	padding-right:2em;
	display: inline-flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 3em;
}

.form-row > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
}

.card {
  margin: 1.5em auto;
  width: 15em;
  height: 15em;
  border-radius: 2em;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.08), -5px -5px 30px 7px rgba(0,0,0,0.05);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 2em;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 2em;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 2em 2em;
  
  font-weight: bolder;
  font-size: 2.4rem;
  margin-top:1.5em;
  padding-bottom: 2em;
  height: 1em;
}
.card .card_title2 {
  text-align: center;
  border-radius: 0px 0px 2em 2em;
  
  font-weight: bolder;
  font-size: 1.4rem;
  
  height: 1em;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.15), 
    -5px -5px 30px 15px rgba(0,0,0,0.12);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/
